*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.chessboard-wrapper{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B58863;
    height: 650px;
    width: 650px;
}
.chessboard{
    border: 4px solid #F0ECE3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 550px;
    height: 550px;
}
.square{
    background-color: #F0D9B5;
    color: #F0ECE3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.square:nth-child(8n + 1)::before{
    text-align: center;
    position: relative;
    left: -50px;
}
.square:nth-child(1)::before { margin-left: 11px; }
.square:nth-child(57)::before { margin-left: 11px; }

.square:nth-child(1)::before  { content: "8"; }
.square:nth-child(9)::before  { content: "7"; }
.square:nth-child(17)::before { content: "6"; }
.square:nth-child(25)::before { content: "5"; }
.square:nth-child(33)::before { content: "4"; }
.square:nth-child(41)::before { content: "3"; }
.square:nth-child(49)::before { content: "2"; }
.square:nth-child(57)::before { content: "1"; }

.square:nth-child(n + 57)::after{
    text-align: center;
    position: relative;
    bottom: -50px;
}
.square:nth-child(57)::after { content: "A"; }
.square:nth-child(58)::after { content: "B"; }
.square:nth-child(59)::after { content: "C"; }
.square:nth-child(60)::after { content: "D"; }
.square:nth-child(61)::after { content: "E"; }
.square:nth-child(62)::after { content: "F"; }
.square:nth-child(63)::after { content: "G"; }
.square:nth-child(64)::after { content: "H"; }

.square:nth-child(-n + 8)::after{
    text-align: center;
    position: relative;
    top: -50px;
}
.square:nth-child(1)::after { content: "A"; }
.square:nth-child(2)::after { content: "B"; }
.square:nth-child(3)::after { content: "C"; }
.square:nth-child(4)::after { content: "D"; }
.square:nth-child(5)::after { content: "E"; }
.square:nth-child(6)::after { content: "F"; }
.square:nth-child(7)::after { content: "G"; }
.square:nth-child(8)::after { content: "H"; }

.square:nth-child(8n)::before{
    position: relative;
    right: -50px;
}
.square:nth-child(8)::before { margin-left: 9px; }
.square:nth-child(64)::before { margin-left: 9px; }

.square:nth-child(8)::before  { content: "8"; }
.square:nth-child(16)::before { content: "7"; }
.square:nth-child(24)::before { content: "6"; }
.square:nth-child(32)::before { content: "5"; }
.square:nth-child(40)::before { content: "4"; }
.square:nth-child(48)::before { content: "3"; }
.square:nth-child(56)::before { content: "2"; }
.square:nth-child(64)::before { content: "1"; }

.square:nth-child(16n + 2){
    background-color: #B58863;
}
.square:nth-child(16n + 4){
    background-color: #B58863;
}
.square:nth-child(16n + 6){
    background-color: #B58863;
}
.square:nth-child(16n + 8){
    background-color: #B58863;
}
 .square:nth-child(16n + 9){
    background-color: #B58863;
}
.square:nth-child(16n + 11){
    background-color: #B58863;
}
.square:nth-child(16n + 13){
    background-color: #B58863;
}
.square:nth-child(16n + 15){
    background-color: #B58863; 
}